<%= render 'header' %>

<%= render 'sidebar' %>

<div id="container">
	<div id="add-game-form" class="box">
		<%= form_tag({controller: "dashboard", action: "createGame"}, method: "post", :multipart => true ) do %>
			<%= text_field_tag :title, nil, :placeholder => "Title" %>
			<%= text_field_tag :releasedate, nil, :placeholder => "Release Date dd/mm/yyyy" %>
			<%= select_tag :console, options_for_select([ "Xbox One", "Xbox 360" ], "Xbox One") %>

			<div id="hidden-file-upload">
				<input type="file" id="image-uploader" />
			</div>
			<div id="img-wrapper">
				<img id="img" src="" width="500px" />
			</div>

			<input type="button" class="button" id="image-button" value="Add Image">

			<input type="hidden" name="image" id="cropped-image" value="" />
			<%= submit_tag 'Submit Game', class: "button" %>
		<% end %>
	</div>
</div>