<%= render 'header' %>

<%= render 'sidebar' %>

<div id="container">
	<div id="table" class="box">
		<% @games.each do |game| %> 
			<div class="row">
				<div class="title">
					<span><%= game.title %></span>
				</div>
				<div class="console">
					<span><%= game.console %></span>
				</div>
				<div class="date">
					<span><%= game.release_date.strftime('%d/%m/%Y') %></span>
				</div>
				<div class="edit">
					<span><%= link_to "Edit", dashboard_game_edit_path(game) %></span>
				</div>
			</div>
		<% end %>
	</div>
</div>

